<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

<ion-header-bar class="bar-positive">
  <div class="buttons">
  <button class="button button-icon icon ion-ios-minus-outline" ng-click="showDelete = !showDelete"></button>
    <h1 class="title">Consome API</h1>
  </div>
</ion-header-bar>

<ion-content ng-controller="AppCtrl">
  <button class="button button-block" ng-click="consulta()"> 
    Consultar Clientes
  </button>

  <label class="item item-input">
   <input type="text" placeholder="Código" ng-model="cli.codigo">
   </label>

   <label class="item item-input">
   <input type="text" placeholder="Nome do Cliente" ng-model="cli.nome">
   </label>

   <label class="item item-input">
   <input type="text" placeholder="CPF" ng-model="cli.cpf">
   </label>

   <label class="item item-input">
   <input type="date" placeholder="Data de Nascimento" ng-model="cli.dt_nasc">
   </label>

  <button class="button button-block" ng-click="insere()"> Inserir Cliente </button>
  <ion-list show-delete="showDelete">
      <ion-item ng-repeat="cli in clientes" class="item-text-wrap">
          <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(cli)">
          </ion-delete-button>
           Código: {{ cli.codigo }}<br>
           Nome: {{ cli.nome }}<br>
           CPF: {{ cli.cpf }}<br>
           Data de Nascimento: {{ cli.dt_nasc }}<br>

       <ion-option-button class="button-assertive" ng-click="openModal(cli)">
          Alterar
        </ion-option-button>

         </ion-item>
  </ion-list>
</ion-content>  
    
    <script id="my-modal.html" type="text/ng-template">
 <ion-modal-view>
   <ion-header-bar>
      <button 
      class="button button-icon ion-ios-close-empty" 
      ng-click="closeModal()">
    </button>
    <div class="buttons">
      <h1 class="title">Atualiza Cliente</h1>
    </div>
   </ion-header-bar>
   <ion-content>
     
      <label class="item item-input">
   <input type="text" ng-model="cli.codigo">
   </label>

   <label class="item item-input">
   <input type="text" placeholder="Nome" ng-model="cli.nome">
   </label>

   <label class="item item-input">
   <input type="text" placeholder="CPF" ng-model="cli.cpf">
   </label>

   <label class="item item-input">
   <input type="date" placeholder="Data de Nascimento" ng-model="cli.dt_nasc">
   </label>

  <button class="button button-block" ng-click="atualiza()"> 
    Atualiza 
  </button>

   </ion-content>
 </ion-modal-view>
</script>

</body>
</html>
